<h2>Main Page</h2>

<a href="/users/:id"><input type=submit value="profile page"></a>

<!-- <form action="/users/:id" method= "POST">
    <input type=submit value="profile page"
</form>
 -->
<form action="/logout" method= "POST">
    <input type=submit value="Log out">
</form>